.navbar {
  overflow: hidden; /* required because all contents of .navbar are floating */
  width: 100%;
  background: transparent;
  /*
  padding: ${rhythm(2)};
  padding-top: ${rhythm(1.5)};
  */
}

.navbarFixed {
  position: fixed;
  top: 0;
  background: lightgray;
}

.navbarTitle {
  float: left;
  font-style: normal;
  /*
  margin-bottom: ${rhythm(2)};
  */
}

.navbarTitle:hover {
  color: white;
}

.navbarItem {
  float: right;
  margin-left: 1rem;
  text-decoration: none;
}

.navbarItem:hover {
  color: white;
}
